* {
    box-sizing: border-box;
}

@font-face {
    font-family: Nerko One;
    src: url(/fonts/NerkoOne-Regular.ttf);
}

.body {
    margin-top: 0%;
    display: flex;
    background-color: rgb(12, 29, 29);
}

.my-hero {
    position: fixed;
    /* background-color: rgb(69, 141, 141); */
    background-image: linear-gradient(to right, rgb(56, 128, 94), yellow);
    display: flex;
    width: 100%;
    height: 75px;
    justify-content: center;
    align-items: center;
    max-width: 1258px;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    border-radius: 20px;
    font-family: nerko one;
    font-size: 35px;
}

.download {
    display: flex;
    background-color: orange;
    width: 20%;
    margin-left: 40%;
    align-items: center;
    justify-content: center;
}

.edit {
    display: flex;
    padding-top: 75px;
    display: none;
    width: 1258px;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
}

.aside {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.home-page {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    background-color: rgb(25, 66, 66);
    max-width: 1258px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 20px;
    border: 2px solid olivedrab;
}

#img-pool {
    display: flex;
    flex-wrap: wrap;
}

.image-pool {
    height: 100px;
    width: 100px;
}

#edit-options {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.line-height {
    background-color: antiquewhite;
}