* {
    box-sizing: border-box;
    font-family: cursive;
}

@font-face {
    font-family: Nerko One;
    src: url("../fonts/NerkoOne-Regular.ttf");
}

.body {
    margin-top: 0%;
    display: flex;
    background-color: rgb(12, 29, 29);
}

.my-hero {
    position: fixed;
    background-image: linear-gradient(to right, rgb(56, 128, 94), yellow);
    display: flex;
    width: 100vw;
    height: 75px;
    justify-content: center;
    align-items: center;
    max-width: 1258px;
    min-width: 270px;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    border-radius: 20px;
    font-family: nerko one;
    font-size: 35px;
}

.download:hover {
    background-color: rgb(43, 144, 226);
}

.edit {
    display: flex;
    padding-top: 85px;
    display: none;
    width: 1258px;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
}

#canvas {
    border-radius: 10px;
    box-shadow: 0px 0px 10px 10px rgb(15, 41, 41);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#aside {
    background-color: rgb(25, 66, 66);
    display: grid;
    width: 342px;
    column-gap: 3px;
    row-gap: 3px;
    max-height: 345px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    grid-template-columns: repeat(15, 20px);
    grid-template-rows: repeat(15, 20px);
    grid-template-areas: 'line-height';
}

.home-page {
    margin-top: 85px;
    display: flex;
    flex-direction: column;
    background-color: rgb(25, 66, 66);
    max-width: 1258px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 5px;
    min-width: 300px;
}

#img-pool {
    display: flex;
    flex-wrap: wrap;
}

.image-pool {
    height: 200px;
    width: 200px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#edit-options {
    display: grid;
    grid-template-columns: repeat(13, 20px);
    grid-template-rows: repeat(3, 20px);
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: -2;
    background-color: rgb(38, 102, 102);
    border-radius: 10px;
}

.option-line {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 7;
}

.line-up {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 5;
}

.line-down {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 5;
    grid-column-end: 6;
}

.option-font {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 9;
    grid-column-end: -1;
}

.larger-font {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 9;
    grid-column-end: 10;
}

.smaller-font {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 11;
    grid-column-end: 12;
}

.btn {
    background-color: rgb(149, 229, 243);
    border-radius: 5px;
    height: 30px;
    width: 30px;
    font-size: 25px;
    font-weight: bolder;
    font-family: Nerko One;
}

.btn:hover {
    background-color: darkturquoise;
}

.btn-option {
    border-radius: 5px;
    background-color: rgb(149, 229, 243);
}

.btn-option:hover {
    background-color: rgb(125, 192, 204);
}

.line-input {
    grid-row-start: 7;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: -2;
}

.change-txt {
    grid-row-start: 8;
    grid-row-end: 10;
    grid-column-start: 2;
    grid-column-end: 5;
}

.change-line {
    grid-row-start: 8;
    grid-row-end: 10;
    grid-column-start: 6;
    grid-column-end: -2;
}

.download {
    display: flex;
    background-color: rgb(120, 204, 219);
    align-items: center;
    justify-content: center;
    grid-row-start: -5;
    grid-row-end: -4;
    grid-column-start: 6;
    grid-column-end: 11;
    border-radius: 5px;
}

.new-meme {
    grid-row-start: -4;
    grid-row-end: -2;
    grid-column-start: 6;
    grid-column-end: 11;
}

@media only screen and (max-width: 900px) {
    .image-pool {
        height: 75px;
        width: 75px;
    }
    .edit {
        max-width: 500px;
        width: 85vw;
        max-height: 300px;
        /* height: 8px; */
    }
    #canvas {
        width: 300px;
        min-width: 270px;
        height: 300px;
        margin-right: 10px;
    }
    #aside {
        background-color: rgb(25, 66, 66);
        width: 270px;
        height: 270px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: repeat(15, 15px);
        grid-template-rows: repeat(15, 15px);
    }
    #edit-options {
        grid-template-columns: repeat(15, 15px);
        grid-template-rows: repeat(4, 15px);
        row-gap: 6px;
    }
    .btn {
        border-radius: 5px;
        height: 30px;
        width: 30px;
        font-size: 25px;
    }
    .line-up {
        grid-row-start: 2;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 4;
    }
    .line-down {
        grid-row-start: 2;
        grid-row-end: 4;
        grid-column-start: 5;
        grid-column-end: 6;
    }
    .smaller-font {
        grid-row-start: 2;
        grid-row-end: 4;
        grid-column-start: 10;
        grid-column-end: 12;
    }
    .larger-font {
        grid-row-start: 2;
        grid-row-end: 4;
        grid-column-start: 13;
        grid-column-end: 15;
    }
    .option-font {
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 10;
        grid-column-end: -1;
    }
    .option-line {
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 2;
        grid-column-end: 8;
    }
}

@media only screen and (max-width: 600px) {
    .edit {
        flex-direction: column;
    }
    .image-pool {
        height: 75px;
        width: 75px;
    }
    .edit {
        max-width: 500px;
        width: 85vw;
        max-height: 300px;
        height: 8px;
    }
    .my-hero {
        max-width: 550px;
    }
    #canvas {
        width: 270px;
        height: 270px;
        margin: auto;
    }
    #aside {
        margin-top: 10px;
    }
}